{% extends "base.html" %}

{% load i18n %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">

                <div class="row">
                    <div class="col-xs-12">
                        <h2><i class="icon-arrow"></i>{% trans "¿Cuándo?" %}</h2>
                        <p class="loud">{% trans "Valencia, del 20 al 22 de noviembre de 2015" %}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h2><i class="icon-arrow"></i>{% trans "¿Dónde?" %}</h2>
                        <p class="loud">{% trans "Escuela Técnica Superior de Ingeniería Informática" %}</p>
                        <p class="loud">{% trans "Universidad Politécnica de Valencia" %}</p>
                        <p>
                            Camino de Vera, s/n<br/>
                            46022 Valencia
                        </p>
                        <p>
                            <iframe width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-0.3549528121948242%2C39.48004647954756%2C-0.34218549728393555%2C39.485859505473975&amp;layer=mapnik&amp;marker=39.48253%2C-0.34695"></iframe>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h2 id="share-car"><i class="icon-arrow"></i> {% trans "¡Comparte coche!" %}</h2>
                        <iframe src="http://www.blablacar.es/widget/ES_WID_PUBLIC-pyconesvlc_PSGR&amp;?from=&amp;?to=Valencia" style="border:0; padding:0;margin: 35px 0 0 0;" width="100%" height="270px" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-center" style="margin-top: 200px">
                            <a href="http://www.blablacar.es/coche-compartido/a-Valencia/#&amp;utm_source=WID&amp;utm_medium=Link&amp;utm_campaign=ES_WID_PUBLIC-pyconesvlc_PSGR&amp;comuto_cmkt=ES_WID_PUBLIC-pyconesvlc_PSGR" class="btn btn-primary btn-lg">{% trans "Comparte coche a Valencia" %}</a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h2><i class="icon-arrow"></i>{% trans "Código de conducta" %}</h2>
                        <p class="loud">
                            {% blocktrans %}
                            PyConES aspira a crear un ambiente libre de acosos o discriminaciones por razón de género, orientación sexual, discapacidad, aspecto físico, etnia o religión. No se tolerará discriminación alguna bajo ninguna circunstancia.
                            {% endblocktrans %}
                        </p>
                        <p class="loud">
                            {% blocktrans %}
                            Todo el contenido de la conferencia deberá ajustarse a una audiencia profesional integrada por personas procedentes de sectores diferentes. Tanto el lenguaje como las imágenes sexualmente explícitos son inapropiados en la conferencia y en las charlas.
                            {% endblocktrans %}
                        </p>
                        <p class="loud">
                            {% blocktrans %}
                            Sé amable con los demás. No insultes o humilles a otros asistentes. Compórtate de manera profesional. Recuerda que las bromas sexistas, racistas o discriminatorias están prohibidas en la PyConES.
                            {% endblocktrans %}
                        </p>
                        <p class="loud">
                            {% blocktrans %}
                            Los asistentes que incumplan estas reglas podrán -a discreción de los organizadores- ser sancionados o expulsados de la conferencia sin derecho a reembolso.
                            {% endblocktrans %}
                        </p>
                        <p class="loud">
                            {% blocktrans %}
                            Gracias por ayudarnos a hacer este evento amistoso y abierto para todos.
                            {% endblocktrans %}
                        </p>
                        <a href="{% url "code_of_conduct" %}">{% trans "Codigo de Conducta Completo" %}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock container %}
