.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 10px solid @brand-primary;

  .navbar-brand {
    font-size: @font-size-h1;
    color: @brand-primary;
  }

}