{% load i18n %}
<div class="row">
    <div class="col-xs-12">
        <div class="slot-inner" data-slot="{{ slot.id }}">
            {% if slot.content %}
                <strong>{{ slot.start }}</strong>
                <h3>{{ slot.content.get_title }}</h3>
                <p><strong>{{ slot.content_ptr.speaker.name }}</strong></p>
            {% else %}
                <strong>{{ slot.start }}</strong>
                {{ slot.content_override }}
            {% endif %}
            {% if not slot.kind.plenary %}
            <p class="text-center no-margin">
                <i class="fa fa-angle-down"></i>
            </p>
            {% endif %}
        </div>
    </div>
</div>
<div id="slot-description-{{ slot.id }}" class="row" style="display: none">
    <div class="col-xs-12">
        <p>{{ slot.content.get_description|linebreaksbr }}</p>
    </div>
    {% if slot.content and (slot.content.get_video_url or slot.content.get_keynote_url) %}
    <div class="col-xs-12">
        <h4>{% trans "Contenido" %}</h4>
        <ul class="list-unstyled">
            {% if slot.content.get_keynote_url %}
            <li><a href="{{ slot.content.get_keynote_url }}">{{ slot.content.get_keynote_url }}</a></li>
            {% endif %}
            {% if slot.content.get_video_url %}
            <li><a href="{{ slot.content.get_video_url }}">{{ slot.content.get_video_url }}</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>