{% extends "base.html" %}

{% block container %}
    <div class="container schedule">

        <!-- DAY -->
        <div class="row day">
            <!-- ROOM -->
            <div class="col-xs-12 col-md-4 room">
                <!-- SLOT -->
                <div class="row slot">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
            <!-- ROOM -->
            <div class="col-xs-12 col-md-4 room">

            </div>
            <!-- ROOM -->
            <div class="col-xs-12 col-md-4 room">

            </div>
        </div>

    </div>
{% endblock container %}